# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled code
boostThreadLocal
counterArray
counterMap
eVoteHybrid
eVoteSync
gBag
gBagRWLocks
gBagv2
hybridQueue
lockFreeQueue
manualThreadLocal
orSet
orSetSync
orSetSyncDividedWork
orSetv2
orSetv2RWLocks
orSetv2RWLocksDividedWork
pCounterAtomic
pCounterHybrid
pCounterHybridv2
pnCounter
poc1MIncs
poc24Threads
standardThreadLocal
syncCounter
syncGBag
syncQueue


*.txt
.vscode/